<div class="gameCard">
  <div class="gameNameContainer">
    <span class="gameName">XXXXXX</span>
  </div>

  <div class="gameDescriptionContainer">
    <span class="gameDescription">XXXXXX</span>
  </div>

  <div class="gameTagsContainer">
    <div class="gameTag" *ngFor="let n of [1,2,3,4];">
      <span class="gameTagName">XXXXXX</span>
    </div>
  </div>

  <div class="gameGradeContainer">
    <span class="gameGrade">XX / 20</span>
  </div>

  <div class="gameDateContainer">
    <span class="gameDate">Released : XX/XX/XXXX </span>
  </div>

  <div class="gamePlayerContainer">
    <span class="gameDate">Players : XXXXXX </span>
  </div>

</div>
