<div class="header">
  <div class="titleContainer">
    <span class="title">Game Addict</span>
  </div>
  <div class="titleImageContainer">
    <img class="titleImage" src="assets/images/titleImage.png" alt="icon">
  </div>
</div>
<div class="menuContainer">
  <span class="menu">Home</span>
  <span class="separator">|</span>
  <span class="menu">Add Game</span>
  <span class="separator">|</span>
</div>


<div class="footer">
  <div class="authorContainer">
    <span class="author">Arthur & Clément</span>
  </div>
</div>

<router-outlet></router-outlet>
