<form class="container">
  <div class="addCard">
    <div class="gameNameContainer">
      <label class="inputLabel"> Game name :</label>
      <input class="gameName">
    </div>

    <div class="gameDateContainer">
      <label class="inputLabel"> Release date:</label>
      <input type="date" value="2000-01-01" class="gameDate">
    </div>

    <div class="gamePlayerContainer">
      <label class="inputLabel"> Game players:</label>
      <input type="number" class="gamePlayer">
    </div>

    <div class="gameDescriptionContainer">
      <label class="inputLabel"> Game description:</label>
      <br>
      <textarea  class="gameDescription"></textarea>
    </div>

    <div class="gameTagsContainer">
      <label class="inputLabel"> Game tags:</label>
      <br>
      <div class="gameTag" *ngFor="let n of [1,2,3,4];">
        <input class="tagName" type="checkbox" value="XXXXXX">
        <label class="tagLabel"> XXXXXX </label><br>
      </div>
    </div>
  </div>

  <div class="validButtonContainer">
    <button type="submit" class="validButton">ADD GAME</button>
  </div>
</form>


